<div class="deznav">
    <div class="deznav-scroll" [perfectScrollbar]>
        <ul class="metismenu" id="menu" metis-menu>
          <li *ngIf="role=='ADMIN'" [ngClass]="{'mm-active': parametreArray.indexOf(currentHref) > -1}">
            <a class="{{(currentHref == '/admin/parametre' ) ? 'mm-active' : ''}}" [routerLink]="['/admin/users']">
              <i class="flaticon-381-settings-4"></i>
              <span class="nav-text">Users</span>
            </a>
          </li>
          <li *ngIf="role=='USER'" [ngClass]="{'mm-active': parametreArray.indexOf(currentHref) > -1}">
            <a class="{{(currentHref == '/admin/parametre' ) ? 'mm-active' : ''}}" [routerLink]="['/admin/organisme']">
              <i class="flaticon-381-settings-4"></i>
              <span class="nav-text">Organismes</span>
            </a>
          <li *ngIf="role=='USER'" [ngClass]="{'mm-active': parametreArray.indexOf(currentHref) > -1}">
            <a class="{{(currentHref == '/admin/parametre' ) ? 'mm-active' : ''}}" [routerLink]="['/admin/pays']">
              <i class="flaticon-381-settings-4"></i>
              <span class="nav-text">Pays</span>
            </a>
          </li>
          <li *ngIf="role=='USER'" [ngClass]="{'mm-active': parametreArray.indexOf(currentHref) > -1}">
            <a class="{{(currentHref == '/admin/parametre' ) ? 'mm-active' : ''}}" [routerLink]="['/admin/domaines']">
              <i class="flaticon-381-settings-4"></i>
              <span class="nav-text">Domaines</span>
            </a>
          </li>
          <li *ngIf="role=='USER'" [ngClass]="{'mm-active': parametreArray.indexOf(currentHref) > -1}">
            <a class="{{(currentHref == '/admin/parametre' ) ? 'mm-active' : ''}}" [routerLink]="['/admin/formateurs']">
              <i class="flaticon-381-settings-4"></i>
              <span class="nav-text">Formateurs</span>
            </a>
          </li>
          <li *ngIf="role=='USER'" [ngClass]="{'mm-active': parametreArray.indexOf(currentHref) > -1}">
            <a class="{{(currentHref == '/admin/parametre' ) ? 'mm-active' : ''}}" [routerLink]="['/admin/participants']">
              <i class="flaticon-381-settings-4"></i>
              <span class="nav-text">Participants</span>
            </a>
          </li>
          <li *ngIf="role=='USER'" [ngClass]="{'mm-active': parametreArray.indexOf(currentHref) > -1}">
            <a class="{{(currentHref == '/admin/parametre' ) ? 'mm-active' : ''}}" [routerLink]="['/admin/formations']">
              <i class="flaticon-381-settings-4"></i>
              <span class="nav-text">Formations</span>
            </a>
          </li>
          <li  *ngIf="role=='USER'" [ngClass]="{'mm-active': parametreArray.indexOf(currentHref) > -1}">
            <a class="{{(currentHref == '/admin/parametre' ) ? 'mm-active' : ''}}" [routerLink]="['/admin/sessions']">
              <i class="flaticon-381-settings-4"></i>
              <span class="nav-text">Sessions</span>
            </a>
          </li>

        </ul>


        <div class="copyright">
            <p><strong>Formation  Admin  Dashboard</strong> © 2022 All Rights Reserved</p>
            <p class="fs-12">Made with <span [ngClass]="{'': toggleIcon, 'heart-blast': !toggleIcon}" class="heart" (click)="toggleLoveIcon()"></span> by Roua laadouz</p>
        </div>
    </div>
</div>
