<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid default-apex-cl">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <p class="mb-0">Your business dashboard template</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Apex Chart</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Radial bar chart</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic</h4>
                    </div>
                    <div class="card-body">
                        
                        <app-radialbar-basic></app-radialbar-basic>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Multiple</h4>
                    </div>
                    <div class="card-body">
                        <app-radialbar-multiple></app-radialbar-multiple>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Custom Angle Circle</h4>
                    </div>
                    <div class="card-body">
                        <app-radialbar-custom-angle-circle></app-radialbar-custom-angle-circle>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Gradient</h4>
                    </div>
                    <div class="card-body">
                        <app-radialbar-gradient></app-radialbar-gradient>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Stroked Angular Gauge</h4>
                    </div>
                    <div class="card-body">
                        <app-radialbar-stroked-angular-gauge></app-radialbar-stroked-angular-gauge>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Semi Circle Gauge</h4>
                    </div>
                    <div class="card-body">
                        <app-radialbar-semi-circle-gauge></app-radialbar-semi-circle-gauge>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->