<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid default-mt-expansion default-autocomplete default-mt-btn">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <p class="mb-0">Your business dashboard template</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Material</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Expansion</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic divider</h4>
                    </div>
                    <div class="card-body">
                        <app-expand-collapse-all-toggles></app-expand-collapse-all-toggles>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic expansion panel</h4>
                    </div>
                    <div class="card-body">
                        <app-basic-expansion-panel></app-basic-expansion-panel>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Expansion panel as accordion</h4>
                    </div>
                    <div class="card-body">
                        <app-expansion-as-accordion></app-expansion-as-accordion>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->