<div class="text-center p-3">
    <div class="d-inline-block position-relative mb-2">
        
                    <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [plotOptions]="chartOptions.plotOptions"
                [labels]="chartOptions.labels"
                [fill]="chartOptions.fill"
                [stroke]="chartOptions.stroke"
                [responsive]="chartOptions.responsive"
              ></apx-chart>
    
    </div>
    <h4 class="fs-18 font-w600 text-black mb-0">Food</h4>
    <span class="fs-14 d-block">45 menus</span>
</div>
