<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid default-mt-tabs default-mt-btn">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <p class="mb-0">Your business dashboard template</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Material</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Tabs</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Tab group with aligned labels</h4>
                    </div>
                    <div class="card-body">
                        <app-aligned-labels></app-aligned-labels>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Tab group animations</h4>
                    </div>
                    <div class="card-body">
                        <app-tab-group-animations></app-tab-group-animations>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Tab group with asynchronously loading tab contents</h4>
                    </div>
                    <div class="card-body">
                        <app-asynchronously-loading-tab-contents></app-asynchronously-loading-tab-contents>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic use of the tab group</h4>
                    </div>
                    <div class="card-body">
                        <app-basic-tab-group></app-basic-tab-group>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Using tabs with a custom label template</h4>
                    </div>
                    <div class="card-body">
                        <app-tabs-with-custom-label-template></app-tabs-with-custom-label-template>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Tab group with dynamic height based on tab contents</h4>
                    </div>
                    <div class="card-body">
                        <app-tabs-with-dynamic-height></app-tabs-with-dynamic-height>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Tab group with the headers on the bottom</h4>
                    </div>
                    <div class="card-body">
                        <app-tabs-with-headers-on-bottom></app-tabs-with-headers-on-bottom>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Tab group where the tab content is loaded lazily (when activated)</h4>
                    </div>
                    <div class="card-body">
                        <app-tabs-with-content-loaded-lazily></app-tabs-with-content-loaded-lazily>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Tab group with stretched labels</h4>
                    </div>
                    <div class="card-body">
                        <app-tabs-with-stretched-labels></app-tabs-with-stretched-labels>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Customizing the theme options on the tab group</h4>
                    </div>
                    <div class="card-body">
                        <app-tabs-with-theme-options></app-tabs-with-theme-options>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic use of the tab nav bar</h4>
                    </div>
                    <div class="card-body">
                        <app-basic-use-of-tab-nav-bar></app-basic-use-of-tab-nav-bar>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->