
<form class="example-form" [formGroup]="addUserGroup" (ngSubmit)="addUser()" style="padding-bottom:40px;">

  <div class="row">
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Nom</mat-label>
        <input matInput
               formControlName="nameControl">
        <mat-error *ngIf="nameControl.hasError('required')">Nom est <strong>obligatoire</strong> </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Prénom</mat-label>
        <input matInput
               formControlName="prenomControl">
        <mat-error *ngIf="prenomControl.hasError('required')">Prénom est <strong>obligatoire</strong> </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
    <mat-form-field class="example-full-width">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput
             formControlName="usernameControl">
      <mat-error *ngIf="usernameControl.hasError('required')">Nom d'utilisateur est <strong>obligatoire</strong> </mat-error>
    </mat-form-field>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput
               formControlName="emailControl"
               placeholder="Ex. pat@example.com">
        <mat-error *ngIf="f.emailControl.errors?.email">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="f.emailControl.errors?.required">
          Email est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <mat-label>Roles</mat-label>
        <mat-select formControlName="authoritiesControl" multiple>
          <mat-option *ngFor="let role of roleList" [value]="role">{{role.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="authoritiesControl.hasError('required')">Role est <strong>obligatoire</strong> </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      Type d'authentification
    </div>
    <div class="col-sm-3">
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        (click)="changePasswordType()"
        [formControl]="typeAuthControl">
        <mat-radio-button class="example-radio-button" *ngFor="let type of authentication" [value]="type" >
          {{type}} &nbsp;
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 ">
      <mat-form-field *ngIf="typeAuthControl.value" class="example-full-width">
        <mat-label>{{typeAuthControl.value}}</mat-label>
        <input *ngIf="typeAuthControl.value=='Code Pin'" matInput [type]="hide ? 'password' : 'text'" formControlName="passwordControl" minlength="4"maxlength="4" >
        <input  *ngIf="typeAuthControl.value=='Mot de passe'" matInput [type]="hide ? 'password' : 'text'"formControlName="passwordControl">
        <mat-icon style="size:10px" matSuffix><i (click)="hide = !hide" class="m-0 pull-right fa" [class]=" {'fa-eye-slash': hide, 'fa-eye': !hide}"></i></mat-icon>
        <mat-error *ngIf="f.passwordControl.errors?.required">mot de passe est <strong>obligatoire</strong> </mat-error>
        <mat-error *ngIf="f.passwordControl.errors?.minlength">mot de passe doit etre <strong>de longueur 4</strong> </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-3 ">
      <mat-form-field *ngIf="typeAuthControl.value" class="example-full-width">
        <mat-label>Confirmation {{typeAuthControl.value}}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" maxlength="4" formControlName="confirmPassword">
        <mat-icon style="size:10px" matSuffix><i (click)="hide = !hide" class="m-0 pull-right fa" [class]=" {'fa-eye-slash': hide, 'fa-eye': !hide}"></i></mat-icon>
        <mat-error *ngIf="f.confirmPassword.errors?.required">Confirm Password <strong>obligatoire</strong> </mat-error>
        <mat-error *ngIf="f.confirmPassword.errors?.matching">Passwords <strong>must match</strong> </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">
  <p-button  icon="pi pi-check" (click)="addUser()" label="Ok" styleClass="pull-right p-button-text"></p-button>
  </div>
</form>

