::ng-deep .cdk-overlay-connected-position-bounding-box {
  z-index: 10000 !important;
}

@media screen and (max-width: 960px) {
  button {
    width: 100%;
    margin-bottom: .5rem;
  }
}

:host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
  min-width: 6rem;
  background:#ff720d;
  border-color: #ff720d;
}
:host ::ng-deep .p-button:hover {
  margin: 0 .5rem 0 0;
  min-width: 6rem;
  background: #ff720d;
  border-color: #ff720d;
  box-shadow: #ff720d;
}
:host ::ng-deep .p-button:focus {
  margin: 0 .5rem 0 0;
  min-width: 6rem;
  box-shadow: 0 0 0 0.2rem #ffab7a;
}
:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;

}
