body {
  background: #fff;
}

#wrap {
  margin: 45px auto;
  max-width: 800px;
  position: relative;
}

.chart-box {
  padding-left: 0;
}

#chart-year,
#chart-quarter {
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  padding-left: 0;
  padding-top: 20px;
  background: #fff;
  /* border: 1px solid #ddd; */
}

#chart-year {
  float: left;
  position: relative;
  transition: 1s ease transform;
  z-index: 3;
}

#chart-year.chart-quarter-activated {
  transform: translateX(0);
  transition: 1s ease transform;
}

#chart-quarter {
  float: left;
  position: relative;
  display:none;
  /* z-index: -2; */
  transition: 1s ease transform;
}

#chart-quarter.active {
  transition: 1.1s ease-in-out transform;
  transform: translateX(0);
  z-index: 1;
  display:block;
}