<!--**********************************
    Content body start
***********************************-->

    <!-- row -->
    <div class="row">
      <div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
        <button class="widget-stat card"  [routerLink]="['/admin/users']" >
          <div class="card-body p-4">
            <div class="media ai-icon">
                            <span class="mr-3 bgl-primary text-primary">
                                <!-- <i class="ti-user"></i> -->
                                <svg id="icon-customers" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </span>
              <div class="media-body">
                <h4 class="mb-0">Utilisateurs</h4>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>

<!--**********************************
    Content body end
***********************************-->
