<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid default-divider">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <p class="mb-0">Your business dashboard template</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Material</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Divider</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic divider</h4>
                    </div>
                    <div class="card-body">
                        <mat-list>
                            <mat-list-item>Item 1</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Item 2</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Item 3</mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->