

code-input {
  --item-spacing: 10px;
  --item-height: 2em;
  width: 200px;
  --item-border: none;
  --item-border-bottom: 2px solid #dddddd;
  --item-border-has-value: none;
  --item-border-bottom-has-value: 2px solid #ff5903;
  --item-border-focused: none;
  --item-border-bottom-focused: 2px solid #809070;
  --item-shadow-focused: none;
  --item-border-radius: 0px;
}
