<form>
  <section>

    <div class="box">

      <div class="square" style="--i:0;"></div>
      <div class="square" style="--i:1;"></div>
      <div class="square" style="--i:2;"></div>
      <div class="square" style="--i:3;"></div>
      <div class="square" style="--i:4;"></div>
      <div class="square" style="--i:5;"></div>

      <div class="container">
        <div class="form">
          <h2>SBS Resto</h2>
          <form style="text-align: center">
            <div class="form-group">
              <div class="input-group inputBx">
                <input [formControl]="userNameControle" required="required" type="text"
                       (ngModelChange)="checkCodePassword()">
                <div class="input-group-append">
                  <button (click)="checkLogin(userNameControle.value)">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
                </div>
                <span>Login</span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group inputBx" *ngIf="userWithCodepin">
                <input [type]="hide ? 'password' : 'text'" required="required" (ngModelChange)="login()"
                       [formControl]="codePinControle" maxlength="4">
                <div class="input-group-append">
                  <button (click)="hide = !hide">
                    <i class="fa" [class]="{'fa-eye-slash': hide, 'fa-eye': !hide}"></i>
                  </button>
                </div>
                <span>Code Pin</span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group inputBx" *ngIf="userWithPassword">
                <input id="password-input" [type]="hideCode ? 'password' : 'text'" name="password" required="required"
                       [formControl]="passwordControle">
                <div class="input-group-append">
                  <button (click)="hideCode = !hideCode">
                    <i class="fa" [class]="{'fa-eye-slash': hideCode, 'fa-eye': !hideCode}"></i>
                  </button>
                </div>
                <span>Password</span>
              </div>
            </div>
            <div class="inputBx " *ngIf="userWithPassword">
              <input class="inputLogin" type="submit" (click)="login()" value="Login">

            </div>

          </form>
        </div>
      </div>

    </div>
  </section>
</form>
