<!--<div class="container">-->
<!--  <form>-->

<!--    <div class="p-d-flex p-flex-column p-fluid">-->

<!--      <div class="mb-5">-->
<!--        <h2 class="text-center text-white">Connectez-vous ici</h2>-->
<!--      </div>-->

<!--      <div class="mb-5">-->
<!--        <p class="text-white text-justify">-->
<!--          Bienvenue à nouveau, veuillez vous connecter à votre compte.-->
<!--        </p>-->
<!--      </div>-->

<!--      <div class="mb-5">-->
<!--      <span class="p-float-label">-->
<!--        <input id="float-input" type="text" pInputText [(ngModel)]="loginPayload.username"  [matKeyboard]="'fr'"-->
<!--               name="username"-->
<!--               autocomplete="off">-->
<!--        <label for="float-input">Nom d'utilisateur</label>-->
<!--      </span>-->
<!--      </div>-->

<!--      <div class="mb-5">-->
<!--      <span class="p-float-label">-->
<!--                 <input type="number" maxlength="4" [matKeyboard]="'fr'">-->
<!--      </span>-->
<!--      </div>-->
<!--      <div class="mb-5">-->
<!--      <span class="p-float-label">-->
<!--        <p-password [(ngModel)]="loginPayload.password" id="password" name="password" [toggleMask]="true"-->
<!--                    autocomplete="off"    #codeInput               (click)="openKeyboard('fr')"-->
<!--                    [feedback]="false"></p-password>-->
<!--        <label for="password">Mot de passe</label>-->
<!--      </span>-->
<!--      </div>-->

<!--      <div>-->
<!--        <button (click)="login()">Log In <i class="fas fa-sign-in-alt"></i></button>-->
<!--      </div>-->
<!--    </div>-->


<!--  </form>-->
<!--</div>-->
