<div class="row">
  <div class="col-xl-12">
    <div class="d-flex flex-wrap mb-3">
      <p-button mat-raised-button color="primary" data-toggle="modal" style="color:orange;height: 50px" class="mr-auto"
                label=" Ajouter utilisateur"  (click)="showMaximizableDialog()"><i class="fa fa-plus color-info"></i>
      </p-button>
      <p-dialog style="padding:0em" header="Ajouter utilisateur" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
                [draggable]="false" [resizable]="false">
          <div class="container-fluid default-autocomplete default-mt-input">
            <!-- row -->
            <app-user-form></app-user-form>
          </div>

      </p-dialog>

    </div>
    <div class="table-responsive">
      <table id="dataTable1"
             class="display table text-black dataTablesCard customer-list-tbl card-table  dataTable   mb-4 table-responsive-lg ">
        <thead>
        <tr class="bg-primary">
          <th><strong class="font-w600 wspace-no">Nom d'utilisateur</strong></th>
          <th><strong class="font-w600 wspace-no">Nom</strong></th>
          <th><strong class="font-w600 wspace-no">Prénom</strong></th>
          <th><strong class="font-w600 wspace-no">email</strong></th>
          <th><strong class="font-w600 wspace-no">Equipe</strong></th>
          <th class="bg-none"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i= index">
          <td>{{ user.username }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td><span class="font-w600">{{ user!.equipe!.codeEquipe! }}</span></td>
          <td>
            <div class="dropdown ml-auto dropdown-no-icon" ngbDropdown display="dynamic">
              <div class="btn-link" data-toggle="dropdown" aria-expanded="false" role="button" ngbDropdownToggle>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.0005 12C11.0005 12.5523 11.4482 13 12.0005 13C12.5528 13 13.0005 12.5523 13.0005 12C13.0005 11.4477 12.5528 11 12.0005 11C11.4482 11 11.0005 11.4477 11.0005 12Z"
                    stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path
                    d="M18.0005 12C18.0005 12.5523 18.4482 13 19.0005 13C19.5528 13 20.0005 12.5523 20.0005 12C20.0005 11.4477 19.5528 11 19.0005 11C18.4482 11 18.0005 11.4477 18.0005 12Z"
                    stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path
                    d="M4.00049 12C4.00049 12.5523 4.4482 13 5.00049 13C5.55277 13 6.00049 12.5523 6.00049 12C6.00049 11.4477 5.55277 11 5.00049 11C4.4482 11 4.00049 11.4477 4.00049 12Z"
                    stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item text-black" href="#">
                  Accept order
                </a>
                <a class="dropdown-item text-black" href="#">
                  Reject order
                </a>
                <a class="dropdown-item text-black" href="#">
                  View Details
                </a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                        (pageChange)="updateUserListing()">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                (ngModelChange)="updateUserListing()">
          <option [value]="5">5 items per page</option>
          <option [value]="10">10 items per page</option>
          <option [value]="20">20 items per page</option>
        </select>
      </div>

    </div>
  </div>
</div>

